body{
    font-family: 'Open Sans', sans-serif;
font-family: 'Ropa Sans', sans-serif;
}
/* nav related style */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.text-primary{
    color:#FD6E0A;
}
.btn-primary{
    border-radius: 5px;
background: #FD6E0A;
border: 0;
color: #FFF;
font-size: 20px;
font-weight: 700;
padding:15px 35px;
margin-right: 30px;

}
.nav-title{
    color: var(--Dark-01, #181818);
font-size: 45px;
font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
   
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
text-decoration: none;
color: var(--Dark-02, #474747);
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
footer{
    text-align: center;
}
/* header related style */
.header{
    background: #FFF8F3;
    background-image:url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}
.bannar{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bannar.image{
    width: 584px;
height: 676px;
align-items: center;


}
.bannar-greating{
    color:  #474747;
font-size: 45px;
font-weight: 600;
margin-bottom: 0px;
}
.bannar-discreption{
    color:  #757575;
font-size: 18px;
font-weight: 400;
line-height: 30px; 
max-width: 585px;

}
.bannar-heading{
    color:#181818;
font-size: 85px;
font-weight: 700;
margin-top: 5px;
margin-bottom: 5px;

}
/* main section styles */
main{
    max-width: 1140;

}



/* about section styles */
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin:130px ;
font-weight: 700px;

}
.section-title{
    color: #181818;
text-align: center;
font-size: 35px;
font-weight: 700;
margin-bottom: 30px;


}
.section-description{
    color:  #757575;

font-size: 18px;
margin-bottom: 30px;
font-weight: 400;
line-height: 30px;
text-align: center;
/* width: 827px; */
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
  
    text-align: center;

}
.info-title{
    color:#757575;
text-align: center;
font-size: 20px;
font-weight: 400;
line-height: 30px;
margin-bottom: 5px;
}
.info-description{
    color: #474747;
font-size: 20px;
font-weight: 700;
line-height: 30px;
margin-top: 0px;
}